{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
    <style>
        .cstm-height-card .card-img-top {
  height: 100px;
  object-fit: cover;
}
    </style>
</head>
<div class="container">

		<div class="row mb-5">
			<div class="col-md-4">
				<div class="card">
					<img src="https://img2.exportersindia.com/product_images/bc-small/2018/10/5933166/agriculture-cultivator-tool-1539671792-4390810.jpeg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Tractor Plough</h5>

						<a href="#" class="btn btn-sm btn-primary">Add to cart</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSD_Lk3mHaOwnhZxyFmt32oZd9h8d-CYvDoBaT0P47X6PwTe6PqHkZE6L0RHu3Do5xTOaY&usqp=CAU" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Hoe</h5>

						<a href="#" class="btn btn-sm btn-primary">Add to cart</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<img src="https://us.123rf.com/450wm/vectorshots/vectorshots1610/vectorshots161001362/64174138-indian-ancient-wooden-plough-vector.jpg?ver=6" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Plough</h5>

						<a href="#" class="btn btn-sm btn-primary">Add to cart</a>
					</div>
				</div>
			</div>
            <div class="col-md-4">
				<div class="card">
					<img src="https://www.deere.com/assets/images/region-4/products/tractors/utility-tractors/6r-series-utility-tractors/6r-140/6r_140_studio_image_r4x001139_R1_1024x576_large_b19997e3cf87923feb163b9d3b27d113c8145887.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Tractor</h5>

						<a href="#" class="btn btn-sm btn-primary">Add to cart</a>
					</div>
				</div>
			</div>
            <div class="col-md-4">
				<div class="card">
					<img src="https://5.imimg.com/data5/TP/RV/QM/SELLER-9849371/hand-cultivator-500x500.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">iron axepick</h5>

						<a href="#" class="btn btn-sm btn-primary">Add to cart</a>
					</div>
				</div>
			</div>
		</div>
		<!-- row -->






	</div>
{% endblock %}